body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#0056b3,#373a3d,#4937ef);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
  .todo-container h2 img{
    margin-top: -30px;
    width: 40px;
  }
h2 {
    align-items: center;
    
}

form {
    display: flex;
    margin-bottom: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
}
button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
    padding: 8px;
    background-color: #f9f9f9;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
li.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.delete-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
}